extends home.pug

block content
    .form-container
        h1 Login Form
        form.allforms(action='/login-page' method='post')
            label
                input(type='text', name="name", required, placeholder='Username')
            br
            label
                input(type='text', name="password", required, placeholder='Password')
            br
            br
            button.allbuttons Log In