extends home.pug 

block content
  .form-container
    h1 Registration Form
    form.allforms(action='/userregistration' method='post')
      label
        input(type='text', name="name", required, placeholder='Username')
      br
      label
        input(type='text', name="password", required, placeholder='Password')
      br
      br
      button.allbuttons Register