extends home.pug 

block content
  h1 This is Registration Page
  h4 #{present}
  form(action='/userregistration' method='post')
    label
      | Username :
      input(type='text', name="name", required)
    br
    br
    label
      | Password :
      input(type='text', name="password", required)
    br
    br
    button Register