doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Login Register Page 
  style 
    include ../static/style.css

h2 User Registered Successfully. Now you can Log-In.
a.allbuttons(href="/login-page") go to LogIn >>